* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    height: 100%;
}

body {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.all-content {
  border-style: solid;
  border-color: red;
}

.header {
  border-style: solid;
  border-color: blue;
}

.main-body {
  border-style: solid;
  border-color: green;
}

.checked {
  text-decoration: line-through;
}
